.App {
  text-align: center;
}

.intern-content {
  margin: 0;
  float: left;
  width: 68vw;
  font: #4A4B46;
} 

.intern-card {
  margin: 0;
  position: fixed;
  margin-left: 400px;
  margin-top: 75px;
  text-align: center;
  border: solid;
  padding-right: 150px;
  padding-left: 150px;
  
}

.intern-card h1 {
  border: solid;
  border-color: #29aae0;
  
}

.intern-list {
  
  background: #29aae0;
  float: left;
  width: 30vw;
  height: 40vw;
  color: white;
  overflow: auto;
  }


.intern-list:hover {
  background-image: linear-gradient(to right, red , yellow);

}

.intern-list:hover h1 {
  text-shadow: 0 0 3px rgb(206, 190, 190), 0 0 5px #0000FF; 
} 

.intern-list:hover button {
  background: white;
  width: 80%;
  
}
.intern-text{
  text-align: left;
  color: black;
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 2px;
} 


.header {
  display: flex;
  margin: 0;
  float: left;
  width: 98vw;
  height: 5vw;
  border: solid;
  border-color: #380011;
  border-width: 51x;
  color: #4A4B46;
  
}


.header img {
  max-width: 20%;
  float: left;
  margin-left: 5px;
}

button {
  background:  #29aae0;
  border: none;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  font: white;
  text-align: left;
}

.footerLink a:link, a:visited {
  background-color: white;
  border: solid;
  border-color: #29aae0;
  color: blue;
  padding: 14px 25px;
  /* text-align: l;  */
  text-decoration: none;
  display: inline-block;
}

.footerLink a:hover {
  background-color: silver;
}



