.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.intern-content {
  background: #FDFAFD;
  margin: 0;
  float: left;
  width: 68vw;
  height: 90vw;
  font: #4A4B46;

}

.intern-list {
  background: #29aae0;
  float: left;
  width: 30vw;
  height: 40vw;
  color: white;
  overflow: auto;
  }

  /* .intern-text {
    height: 50%;
  } */

.intern-list:hover {
  background-image: linear-gradient(to right, red , yellow);

}

.intern-list:hover h1 {
  text-shadow: 0 0 3px rgb(206, 190, 190), 0 0 5px #0000FF; 

}

.intern-list:hover button {
  background: white;
  width: 80%;
  
}



.intern-text{
  text-align: left;
  color: black;
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 2px;
}



.header {
  display: flex;
  margin: 0;
  float: left;
  width: 98vw;
  height: 5vw;
  border: solid;
  border-color: #380011;
  border-width: 51x;
  color: #4A4B46;
  
}


.header img {
  max-width: 20%;
  float: left;
}

button {
  background:  #29aae0;
  border: none;
  
}





